useDynLib(IndependenceTests, .registration = TRUE)

# Export all names
#exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  xtable,
  CompQuadForm,
  MASS,
  Runuran,
  parallel
)

importFrom("graphics", "plot", "points", "segments")
importFrom("stats", "dnorm", "optim", "pchisq", "pnorm", "rnorm",
           "runif", "uniroot")
importFrom("utils", "combn")

export(A.dep.tests, dependogram, mdcov, .sinint, .Cnhatmat, .mdcov.lambdas, .mdcov.pval)
